.idea

trunk/build
trunk/run

trunk/aclocal.m4
trunk/autom4te.cache
trunk/compile
trunk/Makefile.in
trunk/configure
trunk/test-driver

**/*.in

trunk/quartic/Manuscript/quartic-zotero
trunk/tutorials/**/*.out
trunk/tutorials/**/*.dat
trunk/tutorials/**/*.vec
trunk/tutorials/**/*.bak
trunk/tutorials/**/*.gp
trunk/tutorials/**/*.ps
trunk/tutorials/**/initialvector


